@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

  }
  
body {
    background: #456;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../img/19.jpg);
    background-repeat: no-repeat;
    overflow: auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.register{
    font-size: 16px;
    background-color: white;
    border-radius: 5px;
    padding-left: 20px;
}
.titulo{
    background-color: white;
    text-align: center;
    border-radius: 5px 5px 0 0;
    border: 1px solid #000000;
    width: 100%;
}
.encabezado {
  margin-top: 0;
  margin-bottom: 0;
}
.encabezado{
    background: #D31024;
    padding: 10px;
    font-size: 20pt;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.formulario{
    padding-top:10px;
}
.formulario p{
    font-size: 15pt;
}

select{
  object-fit: cover;
    width:50% !important;
   
}

.login-opciones {
  font-weight: normal;
  text-align: center;
  padding-top: 5px;
}

.container{
    max-width: 440px;
    padding: 0 20px;
    margin: 50px auto;
}

.container input[type="submit"] {
  border-color: transparent;
  color: #fff;
}

#paisR{
  border: 1px solid #000000;
}
#registrar{
    width: 100%;
    text-align: center;
}

#img{
  object-fit: cover;
  margin-left:  auto;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
  width: 30vw;
}

.register input[type="text"],
.register input[type="email"],
.register input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
  text-align: left;
  font-size: 14pt;
  height: 25px;
  width: 80%;
  border-radius: 5px;
}


/* Text fields' focus effect */
.register input[type="email"]:focus,
.register input[type="password"]:focus {
  border-color: #888;
}

.register input[type="submit"]:hover {
  background: #D31024;
}

/* Buttons' focus effect */
.register input[type="submit"]:focus {
  border-color: #D31024;
}
  