<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Libros</title>
    <link rel="icon" href="https://ingsistemas.cloud.ufps.edu.co/rsc/gidis_logo.jpg" type="image/x-icon">

    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/libro.css}">

</head>
<body>
<!--Navbar-->
    <div class="container">
        <nav class="navbar navbar-expand-lg static-top">
            <div class="container" id="cuerpo">
                <a class="navbar-brand" href="">
                    <img src="/img/logo_ufps.jpg" alt="..." height="100">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">

                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/usuarios/home}">Inicio </a>
                        </li>
                        <li class="nav-item">

                            <a class="nav-link" th:href="@{/logout}">Salir <i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!--tabla-->
        <div class="container" id="libro" style="padding-top: 40px; padding-left: 50px; padding-right: 50px;">
            <div class="container">
                <div class="row" >
                    <div class="col-md-12 TitleCell">
                        Libro completo resultado de investigación
                    </div>
                    <div class="row" style="font-size: 16px">
                        <div class="col col-12" >
                            A continuación puede visualizar la información de los libros completos resultado de investigación que usted ha registrado.<br/>
                            Para registrar un nuevo libro de investigación, pulse el enlace <a th:href="@{/libros/nuevo}" >"Crear" </a>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <br>
            <div class="container">
                <table class="display" id="tab_logic">
                    <thead>
                        <tr>
                            <th style="width: 5%;" class="text-center">#</th>
                            <th style="width: 45%;" class="text-center">T&iacute;tulo</th>
                            <th style="width: 10%;" class="text-center">Año</th>
                            <th style="width: 25%;" class="text-center">Disciplina</th>
                            <th style="width: 15%;" class="text-center">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="l, iterStat : ${listaLibros}" th:id="'fila-' + ${l.idLibro}">
                            <td th:text="${iterStat.index + 1}" class="text-center"></td>
                            <td th:text="${l.titulo}"></td>
                            <td th:text="${l.anio}" class="text-center"></td>
                            <td th:text="${l.disciplina}"></td>
                            <td class="text-center">
                                <a th:href="@{/libros/detalle/{libroId}(libroId=${l.idLibro})}" class="links">
                                    <img title="Ver Detalles" src="/img/ver.png" alt="Ver Detalles">
                                </a>

                                <a th:href="@{/libros/editar/{libroId}(libroId=${l.idLibro})}" class="links">
                                    <img title="Editar" src="/img/editar.png" alt="Editar">
                                </a>
                                <a th:href="@{/libros/eliminar/{libroId}(libroId=${l.idLibro})}" class="links">
                                    <img title="Eliminar" src="/img/eliminar.png" alt="Eliminar">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${#lists.isEmpty(listaLibros)}">
                <div class="alert alert-secondary" style="text-align:center;" role="alert">
                    <span th:text="${mensaje}"></span></td>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script th:src="@{/js/verLibro.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>